{% extends "base.html" %}
{% block content %}
  <h2>Create forecast</h2>
  <form method="post" action="{% url 'create_forecast' %}">
    {% csrf_token %}
    <div>
      <label for="city_id">City Name</label>
      <select id="city_id" name="city_id" required>
        {% for city in cities %}
          <option value="{{ city.id }}">{{ city.name|capfirst }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="datetime">Datetime</label>
      <input type="date" id="datetime" name="forecast_datetime" required>
    </div>
    <div>
      <label for="temperature">Forecasted temperature</label>
      <input type="number" step="0.01" id="temperature" name="forecasted_temperature" required>
    </div>
    <div>
      <label for="humidity">Forecasted humidity</label>
      <input type="number" step="0.01" id="humidity" name="forecasted_humidity" required>
    </div>
    <button type="submit">Submit</button>
  </form>
{% endblock %}