{% extends "base.html" %}
{% block content %}
  <h2>Edit forecast</h2>
  <form action="/forecasts/id/{{ forecast.id }}/" method="post">
    {% csrf_token %}
    <div>
      <label for="city_id">City Name</label>
      <select id="city_id" name="city_id" required>
        {% for city in cities %}
          {% if city.id == forecast.city_id %}
            <option selected value="{{ city.id }}">{{ city.name.capitalize }}</option>
          {% else %}
            <option value="{{ city.id }}">{{ city.name.capitalize }}</option>
          {% endif %}
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="datetime">Datetime</label>
      <input type="date" id="datetime" value="{{ forecast.datetime|date:"c" }}" name="forecast_datetime">
    </div>
    <div>
      <label for="temperature">Forecasted temperature</label>
      <input type="number" step="0.01" id="temperature" value="{{ forecast.forecasted_temperature }}"
             name="forecasted_temperature">
    </div>
    <div>
      <label for="humidity">Forecasted humidity</label>
      <input type="number" step="0.01" id="humidity" value="{{ forecast.forecasted_humidity }}"
             name="forecasted_humidity">
    </div>
    <button id="submit">Submit</button>
  </form>
{% endblock %}