{% extends "base.html" %}
{% block content %}
  <h2>Add city</h2>
  <form method="post" action="/add-city">
    {{ form.csrf_token }}
    <div>
      <label for="country_id">Country Name</label>
      <select id="country_id" name="country_id" required>
        {% for country in countries %}
          <option value="{{ country.id }}">{{ country.name.capitalize() }}</option>
        {% endfor %}
      </select>
    </div>
    <div>
      <label for="city_name">City Name</label>
      <input id="city_name" name="name" required>
    </div>
    <button type="submit">Submit</button>
  </form>
{% endblock %}
