{% extends "base.html" %}
{% block content %}
  <h2>
    List of Cities
  </h2>
  <ul>
    {% for city in cities %}
      <li>
        <p>Name: {{ city.name.capitalize() }}</p>
        <p>Country: {{ city.country.name.capitalize() }}</p>
        {% if current_user is not none and current_user.is_staff %}
          <button onclick="location.href = '{{ url_for('edit_city', city_id=city.id) }}'">Edit</button>
          <form action="{{ url_for('delete_city', city_id=city.id) }}" method="POST">
            {{ form.csrf_token }}
            <button type="submit">Delete</button>
          </form>
        {% endif %}
      </li>
    {% endfor %}
  </ul>
{% endblock %}