{% extends "base.html" %}
{% block content %}
  <h2>Edit {{ user.username }}</h2>
  <form action="{{ url_for('edit_user', user_id=user.id) }}" method="post">
    {{ form.csrf_token }}
    <div>
      <label for="username">Username</label>
      {{ form.username(id="username") }}
    </div>
    <div>
      <label for="email">E-mail</label>
      {{ form.email(id="email") }}
    </div>
    <div>
      <label for="is_staff">Is Admin</label>
      {{ form.is_staff(id="is_admin") }}
    </div>
    <button id="submit">Submit</button>
  </form>
{% endblock %}